<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.attendanceapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Announcements"/>
        <activity android:name=".AddAnnouncement"/>
        <activity android:name=".Exam"/>
        <activity android:name=".Event_details"/>
        <activity android:name=".Event_click_event_button"/>
        <activity android:name=".Events_show_cards_on_recycler"/>
        <activity android:name=".Assignment_Teacher_main"/>
        <activity android:name=".Assignment_StatusExcel"/>
        <activity android:name=".Assignment_Teacher_status_fetch_r"/>
        <activity android:name=".Assignment_status_upload"/>
        <activity android:name=".Assignment_Teacher_status1"/>
        <activity android:name=".Assignment_yearbutton"/>
        <activity android:name=".Assignment_subject_sem1"/>
        <activity android:name=".Assignment_subject_sem2"/>
        <activity android:name=".Assignment_subject_sem3"/>
        <activity android:name=".Assignment_subject_sem4"/>
        <activity android:name=".Assignment_subject_sem5"/>
        <activity android:name=".Assignment_subject_sem6"/>
        <activity android:name=".Assignment_subject_sem7"/>
        <activity android:name=".Assignment_subject_sem8"/>
        <activity android:name=".Assignment_sem1_sub1"/>
        <activity android:name=".Assignment_sem1_sub2"/>
        <activity android:name=".Assignment_sem1_sub3"/>
        <activity android:name=".Assignment_sem1_sub4"/>
        <activity android:name=".Assignment_sem1_sub5"/>
        <activity android:name=".ShowAssignment_sem1_sub1"/>
        <activity android:name=".ShowAssignment_sem1_sub2"/>
        <activity android:name=".ShowAssignment_sem1_sub3"/>
        <activity android:name=".ShowAssignment_sem1_sub4"/>
        <activity android:name=".ShowAssignment_sem1_sub5"/>
        <activity android:name=".AddGrievance"></activity>
        <activity android:name=".StudentAttendance" />
        <activity android:name=".UploadResults" />
        <activity android:name=".Sem2" />
        <activity android:name=".Sem1" />
        <activity android:name=".Sem8" />
        <activity android:name=".Sem7" />
        <activity android:name=".Sem6" />
        <activity android:name=".Sem5" />
        <activity android:name=".Sem4" />
        <activity android:name=".Sem3" />
        <activity android:name=".Semesters" />
        <activity android:name=".UploadAttendance" />
        <activity android:name=".TeacherAttendance" />
        <activity android:name=".Teacher_All_Tabs" />
        <activity android:name=".Attributions" />
        <activity android:name=".Tabs" />
        <activity android:name=".TeacherRegister" />
        <activity android:name=".AllTabsActivity" />
        <activity android:name=".TeacherActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>